In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('baidu.csv')
df.columns

Index(['Unnamed: 0', 'name', 'rating', 'id', 'sentiment', 'director',
       'scriptwriter', 'starring', 'genre', 'total_people', 'running_time',
       'year', 'month', 'day', 'a_number', 'a_comment', 'a_forward', 'a_like',
       'b_number', 'b_comment', 'b_forward', 'b_like', 'boxing', 'difference',
       'average'],
      dtype='object')

In [3]:
df['boxing'] = df['boxing'].map(lambda x: float(x[:-1]))

In [4]:
d_number = {}
d_revenue = {}
s_number = {}
s_revenue = {}
t_number = {}
t_revenue = {}

In [5]:
def d_stat(lst, boxing):
    lst = eval(lst)
    for d in lst:
        if d in d_number:
            d_number[d] += 1
            d_revenue[d] += boxing
        else:
            d_number[d] = 1
            d_revenue[d] = boxing
            
_ = df.apply(lambda x: d_stat(x.director, x.boxing), axis = 1)

In [6]:
def s_stat(lst, boxing):
    lst = eval(lst)
    for s in lst:
        if s in s_number:
            s_number[s] += 1
            s_revenue[s] += boxing
        else:
            s_number[s] = 1
            s_revenue[s] = boxing
            
_ = df.apply(lambda x: s_stat(x.scriptwriter, x.boxing), axis = 1)

In [7]:
def t_stat(lst, boxing):
    lst = eval(lst)
    for t in lst:
        if t in t_number:
            t_number[t] += 1
            t_revenue[t] += boxing
        else:
            t_number[t] = 1
            t_revenue[t] = boxing
            
_ = df.apply(lambda x: t_stat(x.starring, x.boxing), axis = 1)

In [8]:
d_boxing = {}

for d in d_number:
    d_boxing[d] = d_revenue[d] / d_number[d]

In [9]:
t_boxing = {}

for t in t_number:
    t_boxing[t] = t_revenue[t] / t_number[t]

In [10]:
s_boxing = {}

for s in s_number:
    s_boxing[s] = s_revenue[s] / s_number[s]

In [11]:
def d2m(lst):
    lst = eval(lst)
    num = 0
    total = 0
    for x in lst:
        num += 1
        total += d_boxing[x]
    return total/num

df['d_mean'] = df['director'].map(d2m)

In [12]:
def d2s(lst):
    lst = eval(lst)
    bs = []
    for x in lst:
        bs.append(d_boxing[x])
        
    return np.array(bs).std()

df['d_std'] = df['director'].map(d2s)

In [13]:
def s2s(lst):
    lst = eval(lst)
    ss = []
    for x in lst:
        ss.append(s_boxing[x])
        
    return np.array(ss).mean()

df['s_mean'] = df['scriptwriter'].map(s2s)

In [14]:
def s2s(lst):
    lst = eval(lst)
    ss = []
    for x in lst:
        ss.append(s_boxing[x])
        
    return np.array(ss).std()

df['s_std'] = df['scriptwriter'].map(s2s)

In [15]:
def t2s(lst):
    lst = eval(lst)
    ts = []
    for x in lst:
        ts.append(t_boxing[x])
    
    if len(ts) == 0:
        return np.nan
        
    return np.array(ts).mean()

df['t_mean'] = df['starring'].map(t2s)

In [16]:
def t2s(lst):
    lst = eval(lst)
    ts = []
    for x in lst:
        ts.append(t_boxing[x])
    
    if len(ts) == 0:
        return np.nan
        
    return np.array(ts).std()

df['t_std'] = df['starring'].map(t2s)

In [17]:
df2 = df.dropna(how='any')
df2.shape

(530, 31)

In [18]:
d_boxing = pd.Series(d_boxing)
d_boxing = d_boxing[d_boxing > 4703.500000]
d_boxing.describe()

count       137.000000
mean      24731.894951
std       28503.986077
min        4906.500000
25%        8282.400000
50%       16247.500000
75%       29826.400000
max      242658.600000
dtype: float64

In [19]:
t_boxing = pd.Series(t_boxing)
t_boxing = t_boxing[t_boxing > 5446.350000]
t_boxing.describe()

count       467.000000
mean      24082.687224
std       23390.553375
min        5447.700000
25%        8626.940000
50%       15976.200000
75%       32133.883333
max      142069.700000
dtype: float64

In [20]:
s_boxing = pd.Series(t_boxing)
s_boxing = s_boxing[t_boxing > 5446.350000]
s_boxing.describe()

count       467.000000
mean      24082.687224
std       23390.553375
min        5447.700000
25%        8626.940000
50%       15976.200000
75%       32133.883333
max      142069.700000
dtype: float64

In [21]:
directors = d_boxing[d_boxing > 29826.400000].keys()
scripts = s_boxing[s_boxing > 32133.883333].keys()
starrings = t_boxing[t_boxing > 32133.883333].keys()

In [22]:
set = (directors | scripts) | starrings
len(set)

147

In [23]:
def function(director, scriptwriter, starring, p):
    d = eval(director)
    s = eval(scriptwriter)
    t = eval(starring)
    if (((p in d) | (p in s)) | (p in t)):
        return 1
    else:
        return 0
    
for p in set:
    df2[p] = df2.apply(lambda x: function(x.director, x.scriptwriter, x.starring, p), axis = 1)

/home/eloise/.local/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [24]:
df2.columns

Index(['Unnamed: 0', 'name', 'rating', 'id', 'sentiment', 'director',
       'scriptwriter', 'starring', 'genre', 'total_people',
       ...
       '雷·帕克', '韩寒', '马修·沃恩', '马修·麦康纳', '马克·斯特朗', '马克·韦布', '鲍勃·佩克', '鲍德熹',
       '鹿晗', '黄渤'],
      dtype='object', length=178)

In [25]:
df2.sample(10)

,Unnamed: 0,name,rating,id,sentiment,director,scriptwriter,starring,genre,total_people,...,雷·帕克,韩寒,马修·沃恩,马修·麦康纳,马克·斯特朗,马克·韦布,鲍勃·佩克,鲍德熹,鹿晗,黄渤
487,541,重来,8.5,6874403,1.000000,['约翰·卡尼'],['约翰·卡尼'],"['凯拉·奈特莉', '马克·鲁弗洛', '亚当·莱文', '詹姆斯·柯登', '海莉·斯坦...",喜剧,28677,...,0,0,0,0,0,0,0,0,0,0
338,373,爱爱囧事,3.5,10781952,0.997770,['关尔'],"['梁潇潇', '朱孛']","['赵奕欢', '王一', '莫熙儿', '董玉峰', '陈美行']",喜剧,1661,...,0,0,0,0,0,0,0,0,0,0
85,87,刺夜,5.6,11226120,1.000000,"['任鹏远', '彭际航']",['张启音'],"['蒲巴甲', '杜奕衡', '吴卫东', '王子子', '何杜娟']",动作,7164,...,0,0,0,0,0,0,0,0,0,0
62,64,全城通缉,4.5,25849599,0.968183,['汪涛'],"['陈渐', '李文']","['刘烨', '赵文卓', '秋瓷炫', '古力娜扎', '薛皓文']",剧情,102,...,0,0,0,0,0,0,0,0,0,0
243,264,扑通扑通我的人生,7.1,25747028,1.000000,['李在容'],"['崔民硕', '李在容', '吴晓珍']","['宋慧乔', '姜栋元', '曹成穆', '白日燮', '许俊硕']",剧情,54,...,0,0,0,0,0,0,0,0,0,0
8,8,X战警：逆转未来,8.2,10485647,1.000000,['布莱恩·辛格'],"['西蒙·金伯格', '简·古德曼', '马修·沃恩']","['休·杰克曼', '詹姆斯·麦卡沃伊', '迈克尔·法斯宾德', '詹妮弗·劳伦斯', '...",剧情,44922,...,0,0,1,0,0,0,0,0,0,0
401,441,等风来,5.6,10833923,1.000000,['滕华涛'],['鲍鲸鲸'],"['倪妮', '井柏然', '刘雅瑟', '张子萱', '刘孜']",喜剧,61477,...,0,0,0,0,0,0,0,0,0,0
508,563,雷锋在1959,2.8,20438460,1.000000,['宁海强'],['黑纪文'],"['钟秋', '葛晓凤', '宁宁', '刘鹏', '肖婷佳']",剧情,545,...,0,0,0,0,0,0,0,0,0,0
36,37,临终囧事,5.3,24089455,0.999959,['钱江汉'],"['文隽', '丁小洋']","['包贝尔', '詹瑞文', '文咏珊', '冯淬帆', '莫小棋']",喜剧,228977,...,0,0,0,0,0,0,0,0,0,0
213,232,忠烈杨家将,6.0,5996799,0.999914,['于仁泰'],"['黄子桓', '刘诗嘉', '于仁泰']","['郑少秋', '徐帆', '郑伊健', '于波', '周渝民']",战争,327,...,0,0,0,0,0,0,0,0,0,0

In [26]:
df2.drop(columns=['Unnamed: 0', 'name', 'id', 'director', 'scriptwriter', 'starring', 'month', 'day'], inplace=True)

/home/eloise/.local/lib/python3.6/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [28]:
df3 = pd.get_dummies(df2, columns=['genre'])

In [30]:
df3.columns

Index(['rating', 'sentiment', 'total_people', 'running_time', 'year',
       'a_number', 'a_comment', 'a_forward', 'a_like', 'b_number',
       ...
       'genre_喜剧', 'genre_奇幻', 'genre_家庭', 'genre_悬疑', 'genre_惊悚', 'genre_战争',
       'genre_歌舞', 'genre_爱情', 'genre_科幻', 'genre_纪录片'],
      dtype='object', length=185)

In [34]:
df3.sample(10)

,rating,sentiment,total_people,running_time,year,a_number,a_comment,a_forward,a_like,b_number,...,genre_喜剧,genre_奇幻,genre_家庭,genre_悬疑,genre_惊悚,genre_战争,genre_歌舞,genre_爱情,genre_科幻,genre_纪录片
34,2.6,0.174371,127300,95,2013,9.0,212.0,664.0,211.0,-6.0,...,0,0,0,0,0,0,0,0,0,0
178,4.3,0.999118,164,90,2015,88.0,2582.0,1645.0,32366.0,-69.0,...,0,0,1,0,0,0,0,0,0,0
342,6.5,0.997396,74,98,2012,892.0,929.0,1589.0,8115.0,-3.0,...,1,0,0,0,0,0,0,0,0,0
398,3.9,1.000000,195,100,2014,32.0,1423.0,3477.0,1530.0,-25.0,...,0,0,0,0,0,0,0,1,0,0
435,7.0,1.000000,54,93,2015,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
168,2.8,0.999101,102,93,2013,833.0,61026.0,123142.0,945127.0,0.0,...,0,0,0,1,0,0,0,0,0,0
224,4.0,0.004533,2099,107,2013,6.0,102.0,521.0,256.0,-2.0,...,1,0,0,0,0,0,0,0,0,0
29,2.6,0.937479,7939,95,2013,15.0,337.0,2634.0,778.0,-3.0,...,1,0,0,0,0,0,0,0,0,0
405,4.3,0.999927,110432,86,2012,444.0,251.0,269.0,692.0,-178.0,...,0,0,0,0,0,0,0,0,0,0
437,5.8,1.000000,15967,111,2013,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0

In [35]:
df3 = df3[df3['t_std']>0]
df3 = df3[df3['t_mean']>0]

In [37]:
df3.dropna(how='any', inplace =True)

In [38]:
df3.shape

(419, 185)

In [39]:
df3.to_csv('dataset.csv')